#responsive-canvas {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#crowdContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 500px;
    background-color: rgba(136, 136, 136, 0);
}

#leftEyeCanvas {
    background-color: rgba(136, 136, 136, 0);
    white-space: pre;
}

#rightEyeCanvas {
    background-color: rgba(136, 136, 136, 0);
    white-space: pre;
    float: right;
}

#countdown {
    text-align: center;
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 100%;
    height: 83vh;
    flex-wrap: nowrap;
}

.button-wrapper {
    display: grid;
    place-items: center;
}

.robot-button,
.retro-button,
.coolcat-button,
.weirdcrowd-button {
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 250px;
    display: block;
    margin: 10px;
}

.robot-button:hover,
.retro-button:hover,
.coolcat-button:hover,
.weirdcrowd-button:hover {
    border: 4px solid
        /*blue*/
    ;
}

.robot-button {
    background-image: url("/robot.png");
}

.retro-button {
    background-image: url("/retro.png");
}

.coolcat-button {
    background-image: url("/coolcat.png");
}

.weirdcrowd-button {
    background-image: url("/weirdcrowd.png");
}

.info-text {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.my-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ready-button {
    background-color: #581109;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 8px;

    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ready-button:hover {
    color: #000000;
    background-color: #ffffff;
}

.newgame-button {
    background-color: #581109;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 8px;

    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newgame-button:hover {
    color: #000000;
    background-color: #ffffff;
}