.members-list {
    height: 76vh;
    width: 250px;
    position: absolute;
    background: white;
    color: black;
    left: 1625px;
    bottom: 3.5%;
    max-height: 76vh;
    overflow-y: auto;
    text-align: center;
}

.members-list p {
    margin: 4px;
}

.members {
    font-size: larger;
}

.members-list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
}

.members-list li {
    list-style-type: none;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
}

.members-list-name {
    max-width: 134px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}