.searchBar>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar>div input,
.searchBar>div button {
    padding: 0;
    height: 30px;
    border: solid 1px black;
    background: white;
    color: black;
}

.input-and-button {
    position: absolute;
    width: 268px;
    left: 50%;
    transform: translate(-50%);
}

.searchBar>div button {
    width: 30px;
    border-left: none;
}

.searchResults {
    position: absolute;
    top: 40px;
    background: white;
    width: 268px;
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.searchBar ul {
    padding: 0;
}

.searchBar ul li {
    list-style-type: none;
    color: black;
    width: 268px;
}

.research-error {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 270px;
    z-index: 1;
    background: white;
}