/* owner and admin icons */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);

.name-settings {
    display: flex;
    gap: 20px;
    left: 14lh;
    position: absolute;
    top: 30px;
}

.name-settings button {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 30px;
    border: solid 1px white;
    background: black;
    color: white;
    margin: 4px;
}

/* .chat-messages {
    display: flex;
    position: absolute;
    background: white;
    width: 40lh;
    height: 76vh;
    left: 14lh;
    bottom: 3vh;
} */

.channel input {
    position: absolute;
    display: flex;
    width: 85%;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0);
}

/* #send-button {
    position: absolute;
    display: flex;
    left: 95%;
    bottom: 3%;
    transform: translate(-85%, 0);
} */

.channel #members {
    display: flex;
    position: absolute;
    background: white;
    color: black;
    width: 25%;
    height: 77%;
    left: 1375px;
    bottom: 3%;
}

.channel #members li {
    list-style-type: none;
}