/* add and send button */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
/* setting button */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);

.change-view {
    min-width: 133px;
    position: absolute;
    bottom: 10px;
}

.channels-button {
    left: 10%;
    transform: translateX(-10%);
    border-right: none;
}

.friends-button {
    left: 90%;
    transform: translateX(-90%);
}

/* search button begin */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* search button end */