.create-channel {
  display: flex;
  width: 60%;
  height: 300px;
  /* align-items: flex-start; */
  /* margin: 15px auto; */
  background-color: white;
  color: black;
}

.btn-new-channel {
  display: flex;
  padding: 50px;
  position: relative;
  align-items: center;
  justify-content: center;
}

#newChannel {
  display: flex;
  align-content: flex-end;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -30%);
}