.create-channel {
  display: flex;
  width: 60%;
  height: 300px;
  /* align-items: flex-start; */
  /* margin: 15px auto; */
  background-color: white;
  color: black;
}

.new-channel-button {
  position: absolute;
  bottom: 68px;
  left: 50%;
  transform: translateX(-50%);
  width: 268px;
}

#newChannel {
  display: flex;
  align-content: flex-end;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -30%);
}