/* close window button */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  --bs-body-font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  background-color: black;
  color: black;
}

h2 {
  color: white;
  font-size: 2em;
}

/* button begin */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: black;
  color: white;
  background-color: black;
}

.button-59.active {
  border-color: black;
  color: white;
  background-color: black;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

/* button end */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}