/*.ProfilePicture img {
    width:200px;
    clip-path:ellipse(50% 50%);
}*/


h1 {
    padding : 2px;
    text-align: center;
    font-size: 3em;
    margin: 10px
}
._profile {
    margin : 30px;
    padding: 30px;
    color: black;
    text-align: center;
    border: 3px #4b134f double;
    border-radius: 10px;
    background: rgba(207, 207, 212, 0.918);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: rgba(17, 17, 53, 0.9) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.6) 0px 18px 36px -18px inset;
}

    ._info {
    font-size: 1.5em;
    margin: 40px;
    padding: 60px;
    color: rgb(226, 224, 224);
    text-align: left;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 38px, rgba(0, 0, 0, 0.22) 0px 20px 12px;
    background: black;
    border: solid white;
}

._scoreTab {
  font-size: 1.5em;
  /* margin: 30px;
  padding: 30px;
  text-align: center; */
  margin: 40px;
  padding: 60px;
  text-align: left;
  color: black;
  border-radius: 5px;
  box-shadow: rgba(12, 12, 12, 0.3) 0px 30px 38px, rgba(10, 10, 10, 0.22) 0px 20px 12px;
  background: white;
  border-style: solid ;
}

._score {
  color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #ffffff6e;
}

._avatar-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.button-29 {
  width: 40px; 
  height: 30px;
  color: rgba(0, 0, 0, 0.767);
  font-size: 0.8em;
  /* align-items: center; */
  background: rgb(255, 255, 255);
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  padding-left: 1px;
  padding-right: 1px;
  will-change: box-shadow,transform;
}

  
  .button-29:hover {
    color: white;
    box-shadow: rgba(255, 255, 255, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ffffff3b 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    color: rgba(255, 255, 255, 0.849);
    box-shadow: #ffffff73 0 3px 7px inset;
    transform: translateY(2px);
  }

  .popup {
    position: absolute;
    /* top: 50%; */
    /* right: 0; */
    /* transform: translate(0, -50%); */
    z-index: 999; /* Assurez-vous que z-index est supérieur à ceux des autres éléments de la page */
  }