/*.ProfilePicture img {
    width:200px;
    clip-path:ellipse(50% 50%);
}*/


h1 {
    padding : 2px;
    text-align: center;
    font-size: 3em;
    margin: 10px
}
._profile {
    /* font-size: 3em; */
    margin : 30px;
    padding: 30px;
    color: black;
    text-align: center;
    border: 3px #4b134f double;
    border-radius: 10px;
    background: rgba(233, 232, 238, 0.918);
    background-attachment: fixed;
    background-size: cover;
    /* box-shadow: rgba(57, 57, 61, 0.911) 0px 60px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 90px 100px -18px inset; */
    box-shadow: rgba(17, 17, 53, 0.9) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.6) 0px 18px 36px -18px inset;
}

    ._info {
    font-size: 1.5em;
    margin: 20px;
    padding: 60px;
    color: rgb(226, 224, 224);
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff; */
    text-align: left;
    border-radius: 15px;
    /* background: rgba(253, 254, 255, 0.726); */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 38px, rgba(0, 0, 0, 0.22) 0px 20px 12px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 25px 0px inset, rgba(0, 0, 0, 0) 0px -20px 30px 0px inset, rgba(0, 0, 0, 0) 0px -30px 20px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px;
    box-shadow: rgb(255, 255, 255) 0px 10px 25px 0px inset; */
    background: linear-gradient(172deg, rgb(36, 36, 36), rgb(10, 10, 10, 1));
  /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1); */
    border: 1px solid rgba(0, 0, 0, 0.5);
}

._score {
    text-shadow: 0 0 10px #fff, 0 0 20px #ffffff6e;
}

._avatar-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.button-29 {
  font-size: 0.8em;
  /* align-items: center; */
  border-radius: 6px;
  background: rgb(54, 54, 54);
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  padding-left: 1px;
  padding-right: 1px;
  will-change: box-shadow,transform;
}

.button-29:focus {
    box-shadow: #ffffff86 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ffffff6c 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(255, 255, 255, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ffffff3b 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #ffffff73 0 3px 7px inset;
    transform: translateY(2px);
  }
